body {
    background: rgb(70, 142, 236);
    font: 15px, arial;
    
}


header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 8px;
}

.btn-voltar {
    display: inline-block;
    margin-top: 15px;
    background-color: rgb(70, 142, 236);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

/* Responsividade */

/* Tablets */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 26px;
    }
    section {
        padding: 15px;
    }
}

/* Celulares */
@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }
    header h1 {
        font-size: 22px;
    }
    .btn-voltar {
        width: 80%;
        text-align: center;
    }
    
    img {
        max-width: 90%;
    }

    section {
        max-width: 90%;
    }
}

/* Celulares pequenos */
@media screen and (max-width: 320px) {
    header h1 {
        font-size: 18px;
    }
}